<div class="container">
    <h1>Signup</h1>
  
    <form novalidate [formGroup]="signupForm" #fform="ngForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <input matInput placeholder="Email" type="text" formControlName="email" />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Password" type="password" formControlName="password" />
      </mat-form-field>  
  
      <div>
        <div>Already have an account? <a routerLink="/login">Login</a></div>
        <button mat-raised-button color="primary" type="submit">
          Signup
        </button>
      </div>
    </form>
  </div>