<div class="container">
  <div>
    <h1>Events</h1>
  </div>

  <div class="content">
    <ng-container *ngIf="userService.checkUser()">
      <button mat-raised-button color="primary" [routerLink]="['/eventForm/', '']">
        Add Event
      </button>
    </ng-container>

    <div class="filter" *ngIf="isAuthenticated">
      <div class="filters">
          Filter:
          <mat-slide-toggle
                [checked]="false"
                [(ngModel)]="slideMyEvents"
                (change)="myEventsChange()">
              My events
          </mat-slide-toggle>
      </div>
    </div>
  </div>

  <div>
    <div *ngFor="let event of events">
      <div>
        <a [routerLink]="['/eventDetails/', event.id]">{{ event.title }}</a>
        <span>{{ event.date }}</span>
        <span>{{ event.location }}</span>
        <span>{{ event.addedBy }}</span>
      </div>
    </div>
  </div>
</div>
