<div class="container">
  <div class="section-title">
    <h1>Events</h1>
  </div>

  <div class="content">
    <ng-container *ngIf="isAuthenticated">
      <button
        mat-raised-button
        color="primary"
        [routerLink]="['/eventForm/', '']">
        Add Event
      </button>
      <div class="item control">
        <div class="filter">
          <div class="filters">
              Filter:
              <mat-slide-toggle
                  [checked]="false"
                  [(ngModel)]="slideMyEvents"
                  (change)="myEventsChange()">
                My events
              </mat-slide-toggle>
          </div>
        </div>
      </div>
    </ng-container>
    <div class="item events">
      <div class="event" *ngFor="let event of events" @enterState>

        <mat-card>
            <mat-card-header class="event">
              <mat-card-title class="title">
                  <a class="link-event" [routerLink]="['/eventDetails/', event.id]">{{ event.title | uppercase }}</a>
              </mat-card-title>
              <mat-card-subtitle class="subtitle">
                <p>{{ event.location }} - {{ event.date | date: "dd/MM/yyyy" }}</p>
              </mat-card-subtitle>
              <mat-card-subtitle>
                  <p>{{ event.addedBy}}</p>
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class="description">
              <p>{{ event.description }}</p>
            </mat-card-content>
        </mat-card>

      </div>
    </div>

  </div>
</div>
