// @import '../shared/styles/colors';
@import '../../shared/styles/variables';

.container {
  @include container();
  @include background('/assets/imgs/patt5.jpg', center, contain);
  background-size: cover;
}

.wrap {
  display: flex;
  justify-content: center;
}

.userData {
  margin-bottom: 20px;
  padding: 1rem;
  background-color: rgba(255,255,255,0.9);
  border-radius: 4px;
  min-width: 35%;
  h4 {
    display: inline-block;
  }
}
