// @import '../../shared/styles/colors';
@import '../../shared/styles/variables';

.container {
  @include container();
  @include background('/assets/imgs/patt4.jpg', center, cover);
  background-size: cover;
}

.form {
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  flex-flow: column;
  width: 50%;
  font-family: $acn-font;
  background-color: white;
  padding: 20px;
  border-radius: 4px;
}

.button {
  margin-left: 10px;
}