<div class="container">
  <div class="section-title">
      <h1>Event details</h1>
  </div>

  <div *ngIf="event">
    <div>
      <div *ngIf="isOwner(event)">
          <button
            mat-raised-button
            color="warn"
            (click)="deleteEvent(event)">
            Delete Event
          </button>

          <button
            mat-raised-button
            color="primary"
            [routerLink]="['/eventForm/', event.id]">
            Edit Event
        </button>
      </div>
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <h3>{{ event.title | uppercase }}</h3>
          </mat-card-title>
          <mat-card-subtitle>
            <p>{{ event.location }} - {{ event.date | date: "dd/MM/yyyy" }}</p>
          </mat-card-subtitle>
          <mat-card-subtitle>
              <p>{{ event.addedBy}}</p>
          </mat-card-subtitle>
        </mat-card-header>

        <div class="img">
          <img mat-card-image [src]="imageUrl" alt="Photo">
        </div>

        <mat-card-content>
          <p>{{ event.description }}</p>
        </mat-card-content>
      </mat-card>
    </div>
</div>
