<div class="container">
    <h1>Login</h1>
  
    <form novalidate [formGroup]="loginForm" #fform="ngForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <input matInput placeholder="Email" type="text" formControlName="email" />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Password" type="password" formControlName="password" />
      </mat-form-field>
  
      <div *ngIf="msgs" class="msgs">
        {{msgs}} <!-- Data binding for messages -->
      </div>
  
      <div>
        <div>Need an account? <a routerLink="/signup">Signup</a></div>
        <button mat-raised-button color="primary" type="submit">
          Login
        </button>
      </div>
    </form>
  </div>